.contacts
  padding: 0 0 1em 1em
  background-color: #7c9473
  &-header
    font-size: 1.5em
  &-wrapper
    display: flex

.link
  display: block
  font-size: 1.3em
  font-weight: 700
  color: #312c51
  transition: .5s
  &:hover
    color: #645a96


.label
  display: block
  margin: .1em .5em 0 0
  padding: .1em
  font-size: 1em
  font-weight: 900
  text-align: center
  color: #312c51
  background-color: #cfdac8
  border-radius: 30%
