.footer
  padding: 1em
  text-align: center
  background: rgba(0, 0, 0, .3)
  &-wrap
    display: flex
    justify-content: space-around
    align-items: center
  &-link
    font-size: 1.3em
    color: #6f9eaf
    transition: .4s
    &:hover
      color: #4c90a8

.rss-logo
  fill: #333

.since
  color: #6f9eaf
